@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2b5b8a;  /* fallback indication if the the background image fails to load */
}
